.image {
  -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  border-bottom-width: 15px;
  border-radius: 2px 8px 8px 2px;
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }
}

.image:first-child {
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  transition: all 0.3s ease-in-out;
}

.image:nth-child(2) {
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  transition: all 0.3s ease-in-out;
}

.image:last-child {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.images:hover .image:nth-child(2) {
  -moz-transform: rotate(-4deg) translateX(-32px) translateY(4px);
  -ms-transform: rotate(-4deg) translateX(-32px) translateY(4px);
  -webkit-transform: rotate(-4deg) translateX(-32px) translateY(4px);
  transform: rotate(-4deg) translateX(-32px) translateY(4px);
  transition: all 0.3s ease-in-out;
}

.images:hover .image:first-child {
  -moz-transform: rotate(-8deg) translateX(-64px) translateY(8px);
  -ms-transform: rotate(-8deg) translateX(-64px) translateY(8px);
  -webkit-transform: rotate(-8deg) translateX(-64px) translateY(8px);
  transform: rotate(-8deg) translateX(-64px) translateY(8px);
  transition: all 0.3s ease-in-out;
}

.image.slide-right {
  -moz-transform: translateX(7vw);
  -ms-transform: translateX(7vw);
  -webkit-transform: translateX(7vw);
  transform: translateX(7vw);
  transition: all 0.3s ease-in-out;
}

.image.back {
  transform: rotate(-8deg);
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.image.edit {
  -moz-transform: rotate(0deg) translateX(0px) translateY(0px);
  -ms-transform: rotate(0deg) translateX(0px) translateY(0px);
  -webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
  position: relative;
  transform: rotate(0deg) translateX(0px) translateY(0px);
  transition: all 0.3s ease-in-out;
}

.images.edit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  min-width: fit-content;
  overflow: visible;
}

.images.edit,
.images.edit:hover {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  min-width: fit-content;
  overflow: visible;

  .image.edit {
    -moz-transform: rotate(0deg) translateX(0px) translateY(0px);
    -ms-transform: rotate(0deg) translateX(0px) translateY(0px);
    -webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
    transform: rotate(0deg) translateX(0px) translateY(0px);
    transition: all 0.3s ease-in-out;
  }
}

.images {
  height: auto;
}

.book-stack {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.book-card {
  display: grid;
  position: absolute;
  top: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  margin: auto;
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  border-radius: 2px 8px 8px 2px;
  background-color: rgb(226, 226, 226);
  width: 20vh;
  height: 32vh;
  overflow: hidden;
  color: #00000080;
  font-size: 10rem;
  font-family: sans-serif;
}

.book-card.no-cover-book-card {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(227, 238, 238);
  font-family: serif;
}

.book-card:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.book-card:nth-last-child(n + 4) {
  transform: rotate(16deg) translate(0, -50%);
}

.book-card:nth-last-child(3) {
  transform: rotate(-8deg) translate(0%, -50%);
}

.book-card:nth-last-child(2) {
  transform: rotate(8deg) translate(-0%, -50%);
}

.book-card:nth-last-child(1) {
  transform: rotate(0deg) translate(0, -50%);
}

.book-stack:hover {
  transition: all 0.5s ease-in-out;

  .book-card:nth-last-child(n + 4) {
    --x: calc(-50% + -100px);
    transform: translate(var(--x), -50%) scale(0.9) rotate(-24deg);
    box-shadow: 0 0 1px 1px #00000003;
  }

  .book-card:nth-last-child(3) {
    --x: calc(-50% + -50px);
    transform: translate(var(--x), -35%) scale(0.8) rotate(-16deg);
  }

  .book-card:nth-last-child(2) {
    --x: calc(-50%);
    transform: translate(var(--x), -45%) scale(0.9) rotate(-8deg);
  }

  .book-card:nth-last-child(1) {
    --x: calc(-50% + 50px);
    transform: translate(var(--x), -50%) scale(1) rotate(-0deg);
  }
}


@keyframes book-swap {
  50% {
    transform: translate(calc(var(--x) + 8vw), -50%) scale(0.75) rotate(-5deg);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translate(calc(var(--x) + 15px), -50%) scale(0.65);
    z-index: -1;
  }
}