.search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--border);
  width: 100%;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    filter: drop-shadow(0 .5rem .75rem var(--shadow-1));
    transition: all .75s ease-in-out;
    transition: width 0.5s ease-in-out;
    border: .5px solid var(--semi-transparent);
    border-radius: 1rem;
    background-color: var(--semi-transparent-white);
    width: 100%;
    height: 3rem;

    .result-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin: .25rem;
    }

    .result-buttons {
      margin-right: 1rem;
    }
  }

  .info.selected {
    border-color: var(--black);
    background-color: var(--black);
    color: var(--white-1);
  }

  .nav-button.arrow-right {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-color: var(--transparent);
    max-width: 0;
  }
}

.search-result:hover {
  .info {
    transition: all .5s ease-in-out;
    background-color: var(--white-1);
  }

  .info.selected {
    filter: drop-shadow(0 .5rem .5rem var(--shadow-1));
    transition: all .5s ease-in-out;
    background-color: var(--black);
  }

  .nav-button.arrow-right {
    opacity: 1;
    margin: 0 .5rem;
    max-width: 5rem;
  }
}

.user-result-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
}

.result-pic.users-result {
  transition: all .5s ease-in-out;
  width: 2.5rem;

  img {
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.left-column {
  padding: 1.5rem !important;
}

.left-column.posts {
  justify-content: flex-start;
}

.right-column.posts {
  gap: 2rem;
  margin-top: 0;
  padding: 2rem 2rem;
  height: calc(100vh - 10rem);

  .profile-card {
    margin-bottom: 10vh;
  }
}

/* Responsive  */
@media (max-width: 1100px) {
  .two-columns {
    flex-direction: row;
    gap: 0;
  }

  .left-column.posts {
    width: calc(100% - 3.5rem);
  }

  .right-column.posts {
    padding: 7.5rem 2.5rem;
    width: calc(100% - 10rem);

    .post-showcase-grid {
      width: 100%;
    }

    .profile-card {
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 10rem;

      .profile-pic {
        height: 30vw;
      }
    }
  }
}

@media (max-width: 600px) {
  .two-columns.home {
    flex-direction: column;
    justify-content: center !important;
    gap: 0 !important;
    height: 100%;
  }

  .right-column.posts {
    border-top: 1px solid var(--gray-1);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: calc(100% - 6rem);
    height: 100%;
  }

  .left-column.posts {
    padding: 0 1rem;
    padding-top: 2rem;
    width: calc(100% - 2.5rem);
  }

  .result-pic.users-result {
    transition: all .5s ease-in-out;
    min-width: 2.5rem;
    max-width: 2.5rem;

    img {
      border-radius: 100%;
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .profile-card {
    margin-top: 15rem !important;
    margin-bottom: 0 !important;
  }

  .user-result-text {
    font-size: 12px;
  }

  .posts-scroll {
    margin-bottom: 0;
  }

  .profile-buttons {
    justify-content: center !important;
  }
}