/* Structure */
.two-columns {
  display: flex;
  justify-content: space-around;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: calc(100vh - 4rem);
  overflow: visible !important;
}

.collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  border-radius: 1rem;
  width: 100%;
  height: 14rem;
}

.profile-card {
  display: flex;
  align-items: center;
  filter: drop-shadow(0 .5rem .75rem var(--gray-1));
  transition: all .5s ease-in-out;
  border-radius: 1rem;
  background-color: var(--semi-transparent-white);
  width: 100%;
  height: calc(45vh - 4rem);

  .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 100%;
    background-color: var(--gray-1);
    aspect-ratio: 1/1;
    /* Asignar un ancho específico para mantener la relación de aspecto */
    width: auto;
    height: calc(100% - 2rem);
    /* El alto se ajusta automáticamente en base al ancho */
  }

  .profile-pic img {
    transition: all .5s ease-in-out;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* La imagen cubre todo el div */
  }

  img:hover {
    scale: 1.1;
    filter: drop-shadow(0 .5rem .75rem var(--gray-1));
  }
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
  margin: 1rem;
  width: auto;
  height: calc(100% - 2rem);

  .profile-name {
    font-weight: bold;
    font-size: 32px;
  }

  .profile-username {
    margin-bottom: 8px;
    font-size: 20px;
  }

  .profile-desc {
    margin-bottom: 1.5rem;
  }

  .profile-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
  }
}

.albums {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  min-height: calc(45vh - 4rem);
}

.collection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 50%;
  height: calc(45vh - 4rem);
}

.nav-button.selected {
  border-color: var(--black);
  background-color: var(--black);
  color: var(--white-2);
}

.collection-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--semi-transparent-white);
  width: 75vw;
  height: 80vh;

  .search-filters.visible {
    overflow: visible;

    .nav-button {
      border-color: var(--gray-1);
    }

    .nav-button:hover {
      filter: drop-shadow(0 .25rem .5rem var(--shadow-1));
      border-color: var(--gray-1);
      background-color: var(--white-2);
    }

    .nav-button.selected {
      border-color: var(--black);
    }

    .nav-button.selected:hover {
      filter: drop-shadow(0 .25rem .5rem var(--shadow-1));
      background-color: var(--black);
    }
  }
}

.nav-button.no-text.back {
  position: absolute;
  top: 12%;
  left: 13%;
  transition: all .5s ease-in-out;
  border: 1px solid var(--transparent);
  background-color: var(--transparent);
}

.nav-button.no-text.back:hover {
  border: 1px solid var(--gray-1);
}

.collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 3rem 3rem 1rem 3rem;
  width: 80%;
  height: 55%;
  overflow-x: auto;
  overflow-y: hidden;

  .element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    opacity: 0;
    transition: all .25s ease-in-out;
    width: 20vh;
    height: 100%;
    min-height: 35vh;

    .imagen {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      transition: all .5s ease-in-out;

      .cover,
      .ambilight {
        transition: all .5s ease-in-out;
        border-radius: .25rem;
        width: auto;
        height: 25vh;
      }

      .cover {
        position: absolute;
        z-index: 100;
      }

      .ambilight {
        visibility: hidden;
        opacity: 0;
        filter: blur(1.5rem);
      }
    }

    .imagen:hover {
      scale: 1.1;

      .ambilight {
        scale: 0.9;
        visibility: visible;
        opacity: 1;
      }
    }

    .titulo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 10h;
      height: auto;
      font-weight: bold;
      text-align: center;
    }

    .autor {
      text-align: center;
    }
  }
}

.collection>.element.visible {
  opacity: 1;
}

.collection.albums {
  gap: 5rem;
  padding-left: 4.5rem;
}

.collection.movies>.element {

  .imagen>.cover,
  .ambilight {
    width: 17vh;
    height: 25vh;
  }

  .autor {
    opacity: 0;
    height: 0;
  }
}

.collection.books>.element>.imagen>.cover,
.ambilight {
  border-radius: .25rem .75rem .75rem .25rem;
  width: 17vh;
  height: 25vh;
}

.collection.users>.element>.imagen {
  border-radius: 20vh;
  width: 20vh;
  height: 20vh;
  overflow: hidden;

  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ambilight {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.collection {
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    padding: 0 .5rem;
  }

  .nav-button.no-text,
  .nav-button.no-text.selected {
    scale: 0.85;
    transition: all .25s ease-in-out;
    margin: 0;
    background-color: var(--transparent);
    padding: .25rem 0;
    width: fit-content;
    height: fit-content;
    color: var(--gray-2);
  }

  .nav-button.no-text:hover,
  .nav-button.no-text.selected:hover {
    scale: 1.1;
    background-color: var(--transparent);
    color: var(--black);
  }

  .nav-button.no-text.selected.star>svg {
    fill: var(--gray-2);
  }

  .nav-button.no-text.selected.star>svg:hover {
    fill: var(--black);
  }
}

.collection-modal.edit-profile {
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0;
  width: 40vw;
  max-height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;

  .header {
    display: flex;
    position: sticky !important;
    top: -1rem;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    margin-bottom: 10rem;
    background: linear-gradient(to bottom, var(--semi-transparent-white), var(--transparent));
    padding: 0 1rem;
    padding-bottom: 5rem;
    width: calc(100% - 2rem);

    .nav-button.no-text {
      border: 1px solid var(--transparent);
      background-color: var(--transparent);
      color: var(--gray-2);
    }

    .nav-button.no-text:hover {
      filter: drop-shadow(0 .25rem .5rem var(--shadow-1));
      border: 1px solid var(--gray-1);
      color: var(--black);
    }

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
  }

  .profile-card {
    background-color: var(--transparent);
    padding: 0 2rem;
    height: 14rem;

    .profile-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s ease-in-out;
      margin: 0;

      img {
        filter: brightness(.5);
      }

      .nav-button.no-text {
        position: absolute;
        scale: 2;
        z-index: 6;
        background-color: var(--transparent);

        svg {
          stroke: var(--white-2);
        }
      }
    }
  }

  .profile-card:hover,
  .profile-card>.profile-pic>img {
    scale: 1;
  }

  .profile-card>.profile-pic:hover {
    scale: 1.1;
  }
}

.edit-profile-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .25rem;
  padding: 0 2rem;
  width: calc(100% - 6rem);

  div {
    margin-left: .7rem;
    font-size: 11px;
  }

  input,
  textarea {
    transition: all .5s ease-in-out;
    outline: 0;
    border: 1px solid var(--white-2);
    border-radius: .75rem;
    background: var(--semi-transparent-white);
    padding: .3rem .75rem;
    width: 100%;
    color: var(--gray-2);
  }

  input:focus,
  textarea:focus {
    color: var(--black);
  }

  textarea {
    height: 5rem;
  }
}

/* Responsive  */
@media (max-width: 1100px) {
  .two-columns {
    flex-direction: column;
    width: calc(100% - 4rem);
  }
}

@media (max-width: 640px) {
  .two-columns {
    width: 100%;
  }

  .left-column,
  .right-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    width: calc(100% - 5rem);
    height: auto;
  }

  .collections {
    margin-top: 5vh;
    height: 100%;

    .book-stack {
      margin-right: 2rem;
    }

    .movie-stack {
      margin-left: 2rem;
    }
  }

  .profile-card {
    flex-direction: column;
    max-width: 100%;
    height: auto;

    .profile-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .profile-buttons>.nav-button {
        gap: 0;
        padding: .25rem .75rem !important;

        span {
          opacity: 0;
          width: 0;
        }
      }
    }
  }

  .right-column {
    gap: 0;
  }

  .post-showcase-grid {
    width: 85vw;
    height: 75vw;
  }

  .collection-modal {
    border-color: var(--transparent);
    border-radius: 0;
    padding: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    overflow: hidden;

    .header {
      position: fixed !important;
      top: 0rem !important;
      z-index: 3000 !important;
      margin-top: 0rem !important;
      margin-bottom: 0 !important;
      padding-top: 0rem !important;

      .nav-button {
        padding: .35rem .85rem !important;
      }
    }

    .profile-card {
      padding: 0 !important;
      width: 100%;
    }

    .edit-profile-fields>input {
      padding: .75rem 1rem;
    }

    .nav-button {
      gap: 0 !important;
      padding: .25rem .75rem !important;

      svg {
        width: 1rem;
        height: 1rem;
      }

      span {
        opacity: 0 !important;
        width: 0 !important;
      }
    }

    .buttons-container {
      height: 2rem;

      .nav-button>svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}