@media (max-width: 1150px) {
  .two-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 10vw;
  }

  .left-column,
  .right-column {
    gap: 1rem;
    height: auto;
  }

  .profile-buttons {
    .nav-button {
      padding: 0 .5rem;
      width: fit-content;
    }

    .nav-button>span {
      display: none;
      padding: 0;
    }

    .nav-button svg {
      visibility: visible;
    }
  }

  .profile-card {
    flex-direction: column;
    padding: 1rem 0;
    height: fit-content;

    .profile-pic {
      width: 20vw;
      height: 20vw !important;
    }

    .profile-text {
      align-items: center;
      height: auto;

      .profile-desc {
        text-align: center;
      }
    }
  }
}