:root {
  --black: #1d1d1d;
  --white-1: white;
  --white-2: #EBEBEB;
  --gray-1: lightgray;
  --gray-2: gray;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  transition: all .5s ease-in-out;
  color: var(--gray-2);
}

a:hover {
  color: royalblue;
}

a:visited {
  color: var(--gray-2);
}

.profile-card:hover,
.posts-showcase>.post:hover,
.navbar:hover {
  scale: 1.025;
}

.horizontal-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  filter: drop-shadow(0 .5rem .75rem var(--gray-1));
  transition: all .5s ease-in-out;
  border-radius: 2rem;
  background-color: var(--white-1);
  padding: 0 .5rem;
  width: fit-content;
  height: 1.5rem;

  .dot {
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
    background-color: var(--gray-1);
    padding: .15rem;
    width: .15rem;
    height: .15rem;
  }

  .dot.active {
    background-color: var(--gray-2);
  }

  .scroller-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
    width: .75rem;
    height: .75rem;
    color: var(--gray-1);

    svg {
      width: inherit;
      height: inherit;
    }
  }

  .scroller-icon.separator {
    cursor: default;
    margin-bottom: .25rem;
    width: .1rem;
  }

  .scroller-icon.separator:hover {
    scale: 1;
    color: var(--gray-1);
  }

  .scroller-icon:hover {
    scale: 1.2;
    color: var(--gray-2);
  }

  .dot:hover {
    scale: 1.2;
    background-color: var(--gray-2);
  }
}

.horizontal-scroller:hover {
  scale: 1.1;
}

.modal-screen {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.modal-screen.visible {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  filter: drop-shadow(0 .5rem .75rem var(--gray-1));
  transition: all .5s ease-in-out;
  margin-bottom: 5vw;
  border-radius: 1rem;
  background-color: var(--white-2);
  width: 30vw;
  height: 30vw;
}

.modal:hover {
  scale: 1.05;
}